{% extends 'base.html' %}

{% block Title %}{{ artist.name }}{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<h4>{{ message }}</h4>
{% endfor %}
{% endif %}

<h3>{{ artist.name }} </h3>
    <!-- <div class="d-flex d-flex-inline"><span class="pe-2">Artist name:</span> <h5>{{ artist.name|title }}</h5></div> -->
    <hr>
        {% for collection in artist.collection_artist.all %}
        <div>Album: {{ collection.album }}</div>
        <div>Track: {{ collection.track }}</div>
        <hr>
        {% endfor %}
    <p>
        <a href="{% url 'core:album-edit' pk=artist.pk %}" role="button" class="btn btn-primary w-100 mb-2">Edit Artist Album</a>
        <a href="{% url 'core:artist_list' %}" role="button" class="btn btn-secondary w-100">All Albums</a>
    </p>

{% endblock %}